@media screen and (max-width: 576px){
    .nav-bar{
        height: 100%;
        width: 80%;
        flex-direction: row;
    }
    .ham-manu{
        display: block;
        flex-direction: column;
    }
    .nav-contant{
        display: none;
    }
    .banner-parent{
        flex-direction: column;
    }
}